*.class
.classpath
.project
.settings/*
*.swo
*.swp
target/*
tomcat_deployment_descriptor
*.iml
*.ipr
*.iws
.idea
/.settings
/target
/bat
/bin
/local
/nbactions.xml
/nb-configuration.xml
src/test/java/sshtest/
etc/config/app.properties
etc/config/app-local.properties
